<div class="jumbotron">
    <h1 class="alert alert-primary">
        Sesion finalizada {{{user}}}
    </h1>
    <script>
        setTimeout(() => {
            location.href = '/login'
        }, 2000)
    </script>
    <button type="button"><a href="/login">Iniciar Sesion</a></button>
</div>